.hero{
    height: 80vh;
}

.hero .container{
    display: grid;
    grid-template-columns: repeat(2, 1Fr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50% , -50%);
}

.hero .text{
    width: 500px;
    height: 50px;
    margin-top: 15%;
}

.hero .text h1{
    color: var(--sec-color);
    font-weight: 900;
    font-size: 45px;
    line-height: 1.3;
}

.hero .text h2{
    color: var(--main-color);
    font-weight: 900;
    font-size: 50px;
    line-height: 1.3;
}

.hero .text button{
    border: none;
    padding: 9px;
    width: 180px;
    background-color: var(--fir-color);
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 220px;
    transition: .5s ease;
}

.hero .text button:hover{
    background-color: var(--las-color);
}

.hero .image img{
    width: 620px;
    height: 500px;
}

.hero .scroll{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: var(--main-color);
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid var(--main-color);
    z-index: 3;
    cursor: pointer;
    background-color: transparent;
    transition: .8s ease;
}

.hero .scroll:hover{
    background-color: var(--main-color);
    color: white;
}

@media screen and (max-width: 992px){

    .hero{
        height: 90vh;
    }

    .hero .container{
        display: grid;
        grid-template-columns: repeat(1, 1Fr);
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translate(-50% , -50%);
    }

    .hero .image{
        order: -1;
    }

    .hero .image img{
        width: 100%;
        height: 100%;
    }

    .hero .text{
        margin-top: 0;
        text-align: center;
        width: 100%;
    }

    .hero .text button{
        margin-left: 10px;
    }
}

/* @media screen and (min-width: 992px){
    .hero .container{
        display: grid;
        grid-template-columns: repeat(1, 1Fr);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }

    .hero{
        height: 80vh;
    }
} */